@use "/public/styles/variables" as *;
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  &__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    min-width: 90%;
  }
  &__containerDate {
    display: flex;
    flex-direction: row;
    min-width: 90%;
    justify-content: space-between;
  }
  &__description {
    color: $violetVeryDark;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  &__input {
    border-radius: 5px;
    border: 1px solid $violetLight;
    height: 45px;
    min-width: 90%;
    padding-left: 15px;

    &:focus {
      border-color: hsl(278, 94%, 30%);
    }
    &--date {
      width: 60px;
      margin-left: 10px;
      min-width: 25%;
      &:first-child {
        margin-left: 0;
      }
    }
    &--cvc {
      width: 120px;
      min-width: 25%;
    }
  }

  &__dateGroup {
    display: flex;
    flex-direction: column;

    &--dateInput {
      flex-direction: row;
    }
  }
  &__btnSubmit {
    letter-spacing: 1px;
    margin-top: 25px;
    color: $white;
    background-color: $violetVeryDark;
    border: none;
    border-radius: 8px;
    min-width: 90%;
    height: 50px;
    cursor: pointer;
  }
}

.error {
  border: 1px solid $errorInput;
  &__description {
    margin-top: 10px;
    color: $errorInput;
  }
}
